<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="r_robotiq" >

  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/hands/robotiq_hand_tools.srdf.xacro" />
  
  <group name="right_hand">
      <joint name="right_f0_j1" />
      <joint name="right_f1_j1" />
      <joint name="right_f2_j1" />
      <joint name="right_f1_j0" />
      <joint name="right_f2_j0" />
      <joint name="right_f0_j2" />
      <joint name="right_f1_j2" />
      <joint name="right_f2_j2" />
      <joint name="right_f0_j3" />
      <joint name="right_f1_j3" />
      <joint name="right_f2_j3" />
  </group>
  
  <end_effector name="r_hand_eef" parent_link="r_hand" group="right_hand" />

  <xacro:disable_robotiq_hand_self_collisions side="right"/>
  
  <xacro:macro name="disable_right_hand_collision_checks" params="link_name">
    <xacro:disable_robotiq_hand_collision_helper side="right" link_name="${link_name}"/>     
  </xacro:macro>

  <xacro:disable_right_hand_collision_checks link_name="r_hand"/>
  <xacro:disable_right_hand_collision_checks link_name="r_lfarm"/>

</robot>
