<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="head" >

  <passive_joint name="hokuyo_joint" />
  
  <disable_collisions link1="head" link2="head_imu_link" reason="Never" />
  <disable_collisions link1="utorso" link2="head_imu_link" reason="Never" />
  
</robot>
