<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/robot/$(env FLOR_ROBOT_TYPE)_disabled_collisions.srdf"/>
  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/robot/planning_groups.srdf"/>
  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/robot/virtual_joint.srdf"/>
  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/group_states/group_states.srdf"/>
  
  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/hands/$(env FLOR_LEFT_HAND_TYPE).srdf.xacro" />
  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/hands/$(env FLOR_RIGHT_HAND_TYPE).srdf.xacro" />

  <xacro:include filename="$(find vigir_atlas_moveit_config)/config/head/$(env FLOR_MULTISENSE_TYPE).srdf.xacro" />
  
  
  <!--Collision checking between last arm link and all hand links always disabled-->
  <xacro:disable_left_hand_collision_checks link_name="l_hand"/>
  <xacro:disable_right_hand_collision_checks link_name="r_hand"/>s  
    
  <!--Create macro that will be used to disable collisions for links that lie inside other collision geometry below-->
  <xacro:macro name="disable_all_collisions" params="disable_link_name">
    <xacro:disable_robot_collision_helper disable_robot_link_name="${disable_link_name}"/>
    <xacro:disable_left_hand_collision_checks link_name="${disable_link_name}"/>
    <xacro:disable_right_hand_collision_checks link_name="${disable_link_name}"/>
    <!--<xacro:disable_multisense_collision_helper link_name="${disable_link_name}"/>-->
  </xacro:macro>    
  
  <xacro:disable_all_collisions disable_link_name="mtorso" />
  <xacro:disable_all_collisions disable_link_name="hokuyo_link" />
  <xacro:disable_all_collisions disable_link_name="l_situational_awareness_camera_link" />
  <xacro:disable_all_collisions disable_link_name="r_situational_awareness_camera_link" />
  <xacro:disable_all_collisions disable_link_name="l_talus" />  
  <xacro:disable_all_collisions disable_link_name="r_talus" />
  <xacro:disable_all_collisions disable_link_name="imu_link" />

  <!--Disable collision for thigh links, check simplified version
      for v5. Deactivating as this underestimated collision geom by
      quite a bit.
  <xacro:disable_all_collisions disable_link_name="l_uglut" />  
  <xacro:disable_all_collisions disable_link_name="r_uglut" />
  <xacro:disable_all_collisions disable_link_name="l_lglut" />  
  <xacro:disable_all_collisions disable_link_name="r_lglut" />
  -->

  
  <!--Disable to be able to close gap between pelvis and utorso-->
  <disable_collisions link1="pelvis" link2="utorso" reason="Never" />
  
  <!--Head vs Torso-->
  <disable_collisions link1="utorso" link2="head" reason="Never" />
  <disable_collisions link1="mtorso" link2="head" reason="Never" />
  <disable_collisions link1="ltorso" link2="head" reason="Never" />
  
  <!-- Legs -->
  
  <!--Lower-->
  <disable_collisions link1="r_lleg" link2="r_foot" reason="Never" />
  <disable_collisions link1="l_lleg" link2="l_foot" reason="Never" />
 


  <!--Upper-->
  <disable_collisions link1="r_uglut" link2="r_uleg" reason="Never" />
  <disable_collisions link1="l_uglut" link2="l_uleg" reason="Never" />
  
  <disable_collisions link1="r_uglut" link2="r_lglut" reason="Never" />
  <disable_collisions link1="l_uglut" link2="l_lglut" reason="Never" />
  
  <disable_collisions link1="r_uleg" link2="r_lglut" reason="Never" />
  <disable_collisions link1="l_uleg" link2="l_lglut" reason="Never" />

   
</robot>
